<!doctype html>
	<head>
		<title>Band mail</title>
		<link rel="stylesheet" href="./common.css"></link>
		<link rel="stylesheet" href="./NotoSansKR-Regular/styles.css"></link>
		<script type="text/javascript" src="./js/jquery-1.9.1.min.js"></script>	
		<script type="text/javascript" src="./js/sgen.js"></script>	
	</head>
	<script src="codebase/dhtmlxscheduler.js" type="text/javascript" charset="utf-8"></script>
	<link rel="stylesheet" href="codebase/dhtmlxscheduler.css" type="text/css" media="screen" title="no title" charset="utf-8">

	
<style type="text/css" media="screen">
	html, body{
		margin:0px;
		padding:0px;
		height:100%;
		overflow:hidden;
	}	
</style>

<script type="text/javascript" charset="utf-8">
	function init() {

		scheduler.config.xml_date="%Y-%m-%d %H:%i";
		scheduler.init('scheduler_here',new Date(2013,8,4),"month");

		scheduler.templates.xml_date = function(value){ return new Date(value); };
		//여기서 데이터를 가져옴. // 즉 서버요청
		scheduler.load("/data", "json");	

		// 데이터들이 추가되면서 아래와같은 데이터 파일이 생성됨 
		///이거를 추가해야 다음에 데이터가 들어감.. 왜인진...
		var dp = new dataProcessor("/data");
		dp.init(scheduler);
		dp.setTransactionMode("POST", false);

	}

	// function add(){
	// 	scheduler.addEvent = function()
	// }
</script>

<body onload="init();" style="background:#e0e0e0;">
    		<div id="wrapper">
			<div id="header">
				<div id="title_line">
					<div id="title_home" class="title_btns">
						<a href="/title"> HOME </a>
					</div>
					<div id="title_mail" class="title_btns">
						<a href="/mail"> MAIL </a>
					</div>
					<div id="title_calender" class="title_btns">
						CALENDER
					</div>
					<div id="title_me" class="title_btns">
						ME
					</div>
					<div id="title_setting" class="title_btns">
						SETTING
					</div>
				</div>
			</div>
			</div>
		</div>
    

	<div id="scheduler_here" class="dhx_cal_container" style=
    'width:1200px; 
    height:80%;
    margin-left: auto;
    margin-right: auto;    
    top: 8%;
    left: 0%;
    transform: translateX(-50%) translateY(-50%);

'>


		<div class="dhx_cal_navline">
			<div class="dhx_cal_prev_button">&nbsp;</div>
			<div class="dhx_cal_next_button">&nbsp;</div>
			<div class="dhx_cal_today_button"></div>
			<div class="dhx_cal_date"></div>
			<div class="dhx_cal_tab" name="day_tab" style="right:204px;"></div>
			<div class="dhx_cal_tab" name="week_tab" style="right:140px;"></div>
			<div class="dhx_cal_tab" name="month_tab" style="right:76px;"></div>
		</div>


		<div class="dhx_cal_header">
		</div>


		<div class="dhx_cal_data">
		</div>


	</div>
</body>