<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
	<head>
		<title>Band title</title>
		<link rel="stylesheet" href="./common.css"></link>
		<link rel="stylesheet" href="./NotoSansKR-Regular/styles.css"></link>
		<script type="text/javascript" src="./js/jquery-1.9.1.min.js"></script>	
		<script type="text/javascript" src="./js/sgen.js"></script>	


		<link href="css/jquery-ui.css" rel="stylesheet" />
        <link href="css/jquery.ui.theme.css" rel="stylesheet" />

        <link href="css/timelineScheduler.css" rel="stylesheet" />
        <link href="css/timelineScheduler.styling.css" rel="stylesheet" />
        <link href="css/calendar.css" rel="stylesheet" />

        <script src="js/moment.min.js"></script>
        
        <script src="js/jquery-ui-1.10.2.min.js"></script>
    
        <script src="js/timelineScheduler.js"></script>
        <script src="js/calendar.js"></script>
	</head>
	<body   style="background:#e0e0e0;">
		<div id="wrapper">
			<div id="header">
				<div id="title_line">
					<div id="title_home" class="title_btns">
						<a href="/title"> HOME </a>
					</div>
					<div id="title_mail" class="title_btns">
						<a href="/mail"> MAIL </a>
					</div>
					<div id="title_calender" class="title_btns">
						CALENDER
					</div>
					<div id="title_me" class="title_btns">
						ME
					</div>
					<div id="title_setting" class="title_btns">
						SETTING
					</div>
				</div>
			</div>

			<div id="container" style="text-align:center;">
				<div id="round_icons">
					<div id="round_incons_left">
						<img src="./images/profile.png">
						<img src="./images/profile.png">
						<img src="./images/profile.png">
						<img src="./images/profile.png">
						</div>
				</div>

<!-- make mailview ay -->
				<div id="mail_box">
					<div id ="mail_find">
						<div id ="mail_find_bg">
						<form>
							<input type="text" value="검색어를 입력하세요" size="92px" class="serach_bar"></input>
							<input type="image" src="./images/searchBtn.png" id="search_image" ></input>
						</form>
						</div>
					</div>

					<!-- mail boxes -->
					<div id="mail_view">
						<div id="mail_left">
							<div id="mail_left_btns">
								<form>
									<input type="image" src="./images/writeBtn.png" id="writeBtn_image" ></input>
								<form>
								<form>
									<input type="image" src="./images/reBtn.png" id="reBtn_image" ></input>
								<form>
							</div>
							<div id="mail_left_menu"> 
								<div class="receive_main_btn_c">
									<a href="/mailView"> 받은 편지함 ( ) </a>
								</div>
							</div>
							<div id="mail_left_content">
								<div class="mail_left_list_attr_overlay">
									<div class="list_attr_img">
										<div class="list_attr_img_r">
											<span class="list_attr_img_txt">32</span>
										</div>
									</div>
									<div class="list_attr_title">
										<span class="list_attr_img_title1">윤석호, 김도윤, 김동억, 백종수</span> <span class="list_attr_img_title2">외 2명</span>
									</div>
									<div class="list_attr_text">
									</div>
									<div class="list_attr_time">
									</div>
			
								</div>
							</div>
						</div>
						<div id="mail_right">
						</div>
					</div>
				</div>


			</div>
<!-- 			<div id="timelinee2">
				<div class="wrap">
					
				</div>
			</div>
			<div id="timeline" style="background:#fff; ">
				<div class="wrap">
					<div class="calendar" style="padding: 5px;">

        			<div>
				</div>
			</div>
		</div> -->
		<script>
			$( document ).ready( function(){	
				
			});
		</script>
	</body>
</html>