<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
	<head>
		<title>Band mail</title>
		<link rel="stylesheet" href="./common.css"></link>
		<link rel="stylesheet" href="./NotoSansKR-Regular/styles.css"></link>
		<script type="text/javascript" src="./js/jquery-1.9.1.min.js"></script>	
		<script type="text/javascript" src="./js/sgen.js"></script>	
	</head>
	<body>
		<div id="wrapper">
			<div id="header">
				<div id="title_line">
					<div id="title_home" class="title_btns">
						<a href="/title"> HOME </a>
					</div>
					<div id="title_mail" class="title_btns">
						<a href="/mail"> MAIL </a>
					</div>
					<div id="title_calender" class="title_btns">
						CALENDER
					</div>
					<div id="title_me" class="title_btns">
						ME
					</div>
					<div id="title_setting" class="title_btns">
						SETTING
					</div>
				</div>
			</div>

			<div id="container" style="text-align:center;">
				<div id="round_icons">
					<div id="round_incons_left">
						<img src="./images/profile.png">
						<img src="./images/profile.png">
						<img src="./images/profile.png">
						<img src="./images/profile.png">
					</div>
					<div id="round_incons_right">
						<img src="./images/profile.png">
						<img src="./images/profile.png">
						<img src="./images/profile.png">
						<img src="./images/profile.png">
						
					</div>
				</div>
			</div>
		</div>
		<script>
			$( document ).ready( function(){	
				
			});
		</script>
	</body>
</html>