<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
	<title>Band title</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
	<link href="./fileinput/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />

	
	

	<link rel="stylesheet" href="./NotoSansKR-Regular/styles.css"></link>

	<link href="css/jquery-ui.css" rel="stylesheet" />
	<link href="css/jquery.ui.theme.css" rel="stylesheet" />

	<link href="css/timelineScheduler.css" rel="stylesheet" />
	<link href="css/timelineScheduler.styling.css" rel="stylesheet" />
	<link href="css/calendar.css" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="css/selectize.css" />
	<link rel="stylesheet" href="./common.css"></link>
	<link rel="stylesheet" href="./common_ay.css"></link>


	<script type="text/javascript" src="./js/jquery-1.9.1.min.js"></script>	
	<script type="text/javascript" src="./js/sgen.js"></script>	
	<script src="js/moment.min.js"></script>
	<script src="js/jquery-ui-1.10.2.min.js"></script>
	<script src="js/timelineScheduler.js"></script>
	<script src="js/calendar.js"></script>
	<script type="text/javascript" src="js/selectize.js"></script>
	<script src="./fileinput/js/fileinput.min.js" type="text/javascript"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js" type="text/javascript"></script>

</head>
<body style="background:#e0e0e0;">
	<div id="wrapper">
		<div id="header">
			<div id="title_line">
				<div id="title_home" class="title_btns">
					<a href="/home"> HOME </a>
				</div>
				<div id="title_mail" class="title_btns">
					<a href="/mail"> MAIL </a>
				</div>
				<div id="title_calender" class="title_btns">
					<a href="/calender"> CALENDER </a>
				</div>
				<div id="title_me" class="title_btns">
					<a href="/#"> ME </a>
				</div>
				<div id="title_setting" class="title_btns">
					<a href="/#"> SETTING </a>
				</div>
			</div>
		</div>

		<div id="container">
			<div id="round_icons">
				<div id="round_icons_left">
					<div class="round_img left-margin">
						<a href="/mail"><input type='image' src='./images/cirBtn_box.png' class='round_icons_img'/></a>
					</div>
					<div class="round_img">
						<input type='image' src='./images/cirBtn_person.png' class='round_icons_img'/>
					</div>
					<div class="round_img">
						<input type='image' src='./images/cirBtn_people.png' class='round_icons_img'/>
					</div>
				</div>

				<div id="round_icons_middle">
					<a href="#" class="round_icons_g" id="g1">
						<span class="round_icons_txt"> sgen </span>
					</a>
					<a href="" class="round_icons_g" id="g2">
						<span class="round_icons_txt"> project </span>
					</a>
					<a href="" class="round_icons_g" id="g3">
						<span class="round_icons_txt"> 여의도 </span>
					</a>
					<a href="" class="round_icons_g" id="g4">
						<span class="round_icons_add"> + </span>
					</a>
				</div>

				<div id='round_icons_right'>
					<div class='round_icons_p'>
						<img src="./images/people/p1.png" class="icons_img_p" />
						<div class="tooltip_menu">
							<img class="tooltip_compose" src="/images/email_bt.png" />
							<img class="tooltip_inform"src="/images/information_bt.png" />
						</div>
					</div>
					<div class='round_icons_p'>
						<img src="./images/people/p2.png" class="icons_img_p" />
						<div class="tooltip_menu">
							<img class="tooltip_compose" src="/images/email_bt.png" />
							<img class="tooltip_inform"src="/images/information_bt.png" />
						</div>
					</div>
					<div class='round_icons_p'>
						<img src="./images/people/p3.png" class="icons_img_p" />
						<div class="tooltip_menu">
							<img class="tooltip_compose" src="/images/email_bt.png" />
							<img class="tooltip_inform"src="/images/information_bt.png" />
						</div>
					</div>
					<div class='round_icons_p'>
						<img src="./images/people/p4.png" class="icons_img_p" />
						<div class="tooltip_menu">
							<img class="tooltip_compose" src="/images/email_bt.png" />
							<img class="tooltip_inform"src="/images/information_bt.png" />
						</div>
					</div>
				</div>
			</div>	

			<!-- make mailview ay -->
			<div id="mail_box">
				<div id ="mail_find">
					<div id ="mail_find_bg">
						<form>
							<input id="search_text" type="text" placeholder="검색어를 입력하세요" size="92px" class="serach_bar"></input>
							<input type="image" src="./images/searchBtn.png" class="search_image" ></input>
						</form>
					</div>
				</div>

				<!-- mail boxes -->
				<div id="mail_view">
					<div id="mail_left">
						<div id="mail_left_btns">
							<input type="image" src="./images/writeBtn.png" id="writeBtn_image" ></input>
							<a href="/mail">
								<input type="image" src="./images/reBtn.png" id="reBtn_image" ></input>
							</a>
						</div>
						<div id="mail_left_menu"> 
							<div class="receive_mail_btn_c">
								<div id="dropdown-mailbox" class="_dropdown-menu">
									<div class="dropdown-text">받은 편지함 ( <span class="in_count"></span>  )</div>
									<div class="dropdown-list">
										<div class="items active" val="in">
											받은 편지함 
										</div>
										<div class="items" val="out">
											보낸 편지함 
										</div>
										<div class="items" val="star">
											별표 편지함 
										</div>
									</div>
								</div>
								<div class="page_naviagtion">
									<span class="receive_main_list"> 1 - 3 </span>
									<input type="image" src="./images/mailNextL.png" id="mailNextL_image" ></input>
									<input type="image" src="./images/mailNextR.png" id="mailNextR_image" ></input>
								</div>

							</div>
						</div>
						<div id="maillist_in" class="mail_left_content_list">

						</div>
					</div>
					<div id="mail_right_view" class="mail_right">

					</div>


					<div id="mail_right_write" class="mail_right">

					</div>
				</div>
			</div>
		</div>	
	</div>

	<div id="timeline_container">
		<div id="timeline2">
			<div class="wrap">
			</div>
		</div>
		<div id="timeline" style="background:#fff; ">
			<div class="wrap">
				<div class="calendar" style="padding: 5px;">

				</div>
			</div>
		</div>
	</div>

	<script>
	$( document ).ready( function(){
// 
$.ajax({
	type: "POST",
	url: './mail/getReceiveMailData'
}).done(function(data) {
	data = data.row;
	$('.dropdown-text .in_count').html(data.length);
	$("#maillist_in").empty();
	$.each(data, function(i, v) {
// overlay	
var temp ='<div class="mail_left_content" val="'+ v._id +'">';
temp += '<div class="mail_left_list_attr ">';
temp += 	'<div class="list_attr_img">';
temp += 		'<div class="list_attr_img_r">';
temp += 			'<span class="list_attr_img_txt">'+v.receiveMember[0].name.slice(0,1) +'</span>';
temp += 		'</div>';
temp += 	'</div>';
temp += 	'<div class="list_attr_title">';
temp += 		'<span class="list_attr_title1">';

$.each(v.receiveMember, function(i2, v2) {
	if(i2 >3) return false;
	else {
		temp += v2.name;
		if(i2!= v.receiveMember.length-1 && i2!==2) {
			temp += ", ";
		}
	}
});
temp += '</span>';
temp += '<span class="list_attr_title2">';

if(v.receiveMember.length >4) {
	temp += "외 "+ (v.receiveMember.length-3) + "명";
}

temp += '</span>';
temp += '<span class="list_attr_time"> '+ moment.unix( v.date).format('YY-MM-DD hh:mm') + ' </span>';
temp += 	'</div>';
temp += 	'<div class="list_attr_text">';
temp += 		'<span class="list_attr_text1"> '+( v.title.length>15? v.title.substr(0, 14)+"...": v.title) + ' </span>';
temp += 	'</div>';
temp += 	'<div class="list_attr_time">';
temp += 	'</div>';
temp += '</div>';
temp += '</div>';

$("#maillist_in").append(temp);

});
$(".mail_left_content").unbind("click");
$(".mail_left_content").bind("click", function() {
	var mail_id = $(this).attr('val');
	$.ajax({
		type: "POST",
		url: '/mail/getMail',
		data: { mail_id : mail_id }
	}).done(function(data) {
		$("#mail_right_view").empty();
		var star_on = (data.star_on == true) ? 'right_star_y.png' : 'right_star.png';
		var like_on = (data.like_on == true )? 'right_like_y.png' : 'right_like.png';
		console.log('data', data);
		data = data.row[0];
		var temp =    '<div id="mail_right_top">'
		if(data.attach.length>0) {
			temp +=    '<img src="./images/right_clip.png" id="right_clip_image"/>'    
		}
		temp +=    '<span class="right_clip_text"> '+moment.unix(data.date).format('YYYY-MM-DD dddd HH:mm:ss')+'</span>'
		temp +=        '<input type="image" src="./images/'+star_on+'" class="right_star_image"></input>'
		temp +=        '<input type="image" src="./images/'+like_on+'" class="right_like_image"></input>'
		temp +=    '<form>'
		temp +=        '<input id="reply_btn" type="image" src="./images/right_left.png" class="right_left_image" val="'+data.sender.user_id+'"  val2="'+data.title+'"></input>'
		temp +=    '</form>'
		temp +='</div>'
		temp +='<div id="mail_right_content">'
		temp +=    '<div id="mail_right_content_top">'
		temp +=        '<div class="right_top_title">'
		temp +=            '<span class="right_top_title_text">'+data.title+'</span>'
		temp +=        '</div>'
		temp +=        '<div class="right_top_people">'
		temp +=            '<img src="./images/people/people1.png" class="right_top_people_img" />'
		temp +=            '<span class="right_top_sender">'+data.sender.name + ' ' + data.sender.user_id+'@sgenclub.org</span>'
		temp +=            '<span class="right_top_receiver">'
		$.each(data.receiveMember, function(i2, v2) {
			if(i2 >3) return false;
			else {
				temp += v2.name;
				if(i2!= data.receiveMember.length-1 && i2!==2) {
					temp += ", ";
				}
			}
		});

		if(data.receiveMember.length >4) {
			temp += "외 "+ (data.receiveMember.length-3) + "명";
		}
		temp += ' 에게</span>'
		temp +=        '</div>'
		temp +=    '</div>'
		temp +=    '<hr class="mailview_hr">'
		temp +=    '<div id="mail_right_content_middle">'
		temp +=        '<div class="right_middle_text">'
		temp +=            data.message
		temp +=            '<div class="right_middle_files">'
		$.each(data.attach, function(i, v) {
			temp +=                '<div class="right_middle_file">'
			temp +=                    '<div class="right_file_img">'
			temp +=                        '<form>'
			temp +=                            '<input type="image" class="right_file_img_btn" src="./images/file_download.png"/>'
			temp +=                        '</form>'
			temp +=                    '</div>'
			temp +=                    '<div class="right_file_text">'
			temp +=                        '<span class="right_file_text_value"><a href="./Download/'+v+'">'+( v.length>24? v.substr(0, 23)+"...": v)+'</a></span>'
			temp +=                    '</div>'
			temp +=                    '<div class="right_file_size">'
			temp +=                        '<span class="right_file_size_value"></span>'
			temp +=                    '</div>'
			temp +=                '</div>'
		});


		temp +=                '<div id="mail_right_content_bottom">'
		temp +=                    '<hr class="mailview_hr2">'
		temp +=                    '<div class="mail_right_reply_box">'
		temp +=                        '<img src="./images/people/people1.png" class="right_top_people_img_2" />'
		temp +=                        '<textarea class="reply_box_tt" rows=8 cols=88 placeholder="답장하실려면 클릭하세요 "></textarea>'
		temp +=                        '<form>'
		temp +=                            '<input type="image" class="reply_img_btn" src="./images/reply_sendBtn.png">'
		temp +=                        '</form>'
		temp +=                    '</div>'
		temp +=                '</div>'
		temp +=            '</div>'
		temp +=        '</div>'
		temp +=    '</div>'
		temp +=' </div>'

		$("#mail_right_view").append(temp);
		$("#reply_btn").click(function() {
			console.log("$(this).attr('val')", $(this).attr('val'))
			var temp = '<input type="image" id="send_img_btn" src="./images/reply_sendBtn.png">'
			temp += '<hr class="mailwrite_hr">'
			temp += '<div id="sender_boxes">'
			temp += '    <div class="sender_box">'
			temp += '        <span class="sender_box_text_1"> 받는 사람 </span>'
			temp += '        <div id="sender_box_content_1">'
			temp += '            <input type="text" id="sender_box_get_1" class="sender_box_input_0" value="'+ $(this).attr('val') +' " />'
			temp += '        </div>'
			temp += '        <div id="sender_box_content_2">'
			temp += '            <input type="image" class="sender_box_input_0_btn" src="./images/triBtn.png" />'
			temp += '        </div>'
			temp += '    </div>'
			temp += '    <div class="sender_box">'
			temp += '        <span class="sender_box_text_2"> 참조 </span>'
			temp += '        <input type="text" id="sender_box_get_2" class="sender_box_input_1" />'
			temp += '    </div>'
			temp += '    <div class="sender_box">'
			temp += '        <span class="sender_box_text_2"> 제목 </span>'
			temp += '        <input type="text" id="sender_box_get_3" class="sender_box_input_1"  value="Re: '+$(this).attr('val2')+'" />'
			temp += '    </div>'
			temp += '    <div class="sender_box">'
			temp += '        <span class="sender_box_text_1"> 파일 첨부 </span>'
			temp += '            <input id="input-2" type="file" class="file" multiple="true" data-show-upload="false" data-show-caption="true">'
			temp += '    </div>'
			temp += '</div>'
			temp += '<div id="sender_content">'
			temp += '    <textarea id="sender_content_tt" rows=11 cols=102></textarea>'
			temp += '</div>'
			$("#mail_right_view").empty();

			$("#mail_right_view").append(temp);

			$("#input-2").fileinput({
				'showPreview' : false
			});
		});

$(".right_star_image").click(function() {
	$.ajax({
		type: "POST",
		url: '/mail/setLike',
		data: { mail_id : mail_id,
			user_id : 'sgen3'}
		}).done(function(data) {
			if(data.row == -1) {
				$(".right_star_image").attr('src', './images/right_star_y.png');
			} else {
				$(".right_star_image").attr('src', './images/right_star.png');
			}
		});

	});

				//ay
				$(".right_like_image").click(function() {
					$.ajax({
						type: "POST",
						url: '/mail/setFavorite',
						data: { mail_id : mail_id,
							user_id : 'sgen'}
						}).done(function(data) {
							if(data.arr_length == 0) {
								$(".right_like_image").attr('src', './images/right_like_y.png');
							} else {
								$(".right_like_image").attr('src', './images/right_like.png');
							}
						}); 

					});
			});
});
});


$('#search_text').selectize({
	delimiter: ',',
	persist: false,
	create: function(input) {
		return {
			value: input,
			text: input
		}
	}
});
});

</script>
</body>
</html>