<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
	<head>
		<title>Band title</title>
		<link rel="stylesheet" href="./common.css"></link>
		<link rel="stylesheet" href="./NotoSansKR-Regular/styles.css"></link>
		<script type="text/javascript" src="./js/jquery-1.9.1.min.js"></script>	
		<script type="text/javascript" src="./js/sgen.js"></script>	


		<link href="css/jquery-ui.css" rel="stylesheet" />
        <link href="css/jquery.ui.theme.css" rel="stylesheet" />

        <link href="css/timelineScheduler.css" rel="stylesheet" />
        <link href="css/timelineScheduler.styling.css" rel="stylesheet" />
        <link href="css/calendar.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="css/selectize.css" />

        <script src="js/moment.min.js"></script>
        
        <script src="js/jquery-ui-1.10.2.min.js"></script>
    
        <script src="js/timelineScheduler.js"></script>
        <script src="js/calendar.js"></script>
        <script type="text/javascript" src="js/selectize.js"></script>
	</head>
	<body style="background:#e0e0e0;">
		<div id="wrapper">
			<div id="header">
				<div id="title_line">
					<div id="title_home" class="title_btns">
						<a href="/home"> HOME </a>
					</div>
					<div id="title_mail" class="title_btns">
						<a href="/mail"> MAIL </a>
					</div>
					<div id="title_calender" class="title_btns">
						<a href="/calender"> CALENDER </a>
					</div>
					<div id="title_me" class="title_btns">
						<a href="/#"> ME </a>
					</div>
					<div id="title_setting" class="title_btns">
						<a href="/#"> SETTING </a>
					</div>
				</div>
			</div>

			<div id="container" style="text-align:center;">
				<div id="round_icons">
					<div id="round_icons_left">
						<div class="round_img left-margin">
							<input type='image' src='./images/cirBtn_box.png' class='round_icons_img'/>
						</div>
						<div class="round_img">
							<input type='image' src='./images/cirBtn_person.png' class='round_icons_img'/>
						</div>
						<div class="round_img">
							<input type='image' src='./images/cirBtn_people.png' class='round_icons_img'/>
						</div>
					</div>
					<div id='round_icons_right'>
						<div class='round_icons_p'>
							<img src="./images/people/p1.png" class="icons_img_p" />
							<div class="tooltip_menu">
								<img class="tooltip_compose" src="/images/email_bt.png" />
								<img class="tooltip_inform"src="/images/information_bt.png" />
							</div>
						</div>
						<div class='round_icons_p'>
							<img src="./images/people/p2.png" class="icons_img_p" />
							<div class="tooltip_menu">
								<img class="tooltip_compose" src="/images/email_bt.png" />
								<img class="tooltip_inform"src="/images/information_bt.png" />
							</div>
						</div>
						<div class='round_icons_p'>
							<img src="./images/people/p3.png" class="icons_img_p" />
							<div class="tooltip_menu">
								<img class="tooltip_compose" src="/images/email_bt.png" />
								<img class="tooltip_inform"src="/images/information_bt.png" />
							</div>
						</div>
						<div class='round_icons_p'>
							<img src="./images/people/p4.png" class="icons_img_p" />
							<div class="tooltip_menu">
								<img class="tooltip_compose" src="/images/email_bt.png" />
								<img class="tooltip_inform"src="/images/information_bt.png" />
							</div>
						</div>
					</div>
				</div>

<!-- make mailview ay -->
				<div id="mail_box">
					<div id ="mail_find">
						<div id ="mail_find_bg">
						<form>
							<input id="search_text" type="text" placeholder="검색어를 입력하세요" size="92px" class="serach_bar"></input>
							<input type="image" src="./images/searchBtn.png" class="search_image" ></input>
						</form>
						</div>
					</div>

					<!-- mail boxes -->
					<div id="mail_view">
						<div id="mail_left">
							<div id="mail_left_btns">
								<a href="/mailWrite">
									<input type="image" src="./images/writeBtn.png" id="writeBtn_image" ></input>
								</a>
								<a href="/mail">
									<input type="image" src="./images/reBtn.png" id="reBtn_image" ></input>
								</a>
							</div>
							<div id="mail_left_menu"> 
								<div class="receive_mail_btn_c">
									<a href="/mail"> 받은 편지함 (<span class="receive_main_cnt"> 662 </span>) </a>
									<span class="receive_main_list"> 1 - 3 </span>
											<input type="image" src="./images/mailNextL.png" id="mailNextL_image" ></input>
											<input type="image" src="./images/mailNextR.png" id="mailNextR_image" ></input>
								</div>
							</div>
							<div class="mail_left_content_list">
								<div class="mail_left_content">
									<div class="mail_left_list_attr overlay">
										<div class="list_attr_img">
											<div class="list_attr_img_r">
												<span class="list_attr_img_txt">32</span>
											</div>
										</div>
										<div class="list_attr_title">
											<span class="list_attr_title1">윤석호, 김도윤, 김동억, 백종수</span> <span class="list_attr_title2">외 2명</span> <span class="list_attr_time"> 5.09 13:23 </span>
										</div>
										<div class="list_attr_text">
											<span class="list_attr_text1">햇살 머금은 맛 그대로 에스젠 클럽 헷살 머금은 맛 그대로 에스젠 클럽 </span>
										</div>
										<div class="list_attr_time">
										</div>
									</div>
								</div>
								<div class="mail_left_content">
									<div class="mail_left_list_attr">
										<div class="list_attr_img">
											<div class="list_attr_img_b">
												<span class="list_attr_img_txt">82</span>
											</div>
										</div>
										<div class="list_attr_title">
											<span class="list_attr_title1">이아, 김도윤, 김동억, 백종수</span> <span class="list_attr_title2">외 2명</span> <span class="list_attr_time"> 5.09 13:23 </span>
										</div>
										<div class="list_attr_text">
											<span class="list_attr_text1">햇살 머금은 맛 그대로 에스젠 클럽 헷살 머금은 맛 그대로 에스젠 클럽 </span>
										</div>
										<div class="list_attr_time">
										</div>
									</div>
								</div>
								<div class="mail_left_content">
									<div class="mail_left_list_attr">
										<div class="list_attr_img">
											<div class="list_attr_img_g">
												<span class="list_attr_img_txt">109</span>
											</div>
										</div>
										<div class="list_attr_title">
											<span class="list_attr_title1">이아영, 김도윤, 김동억, 백종수</span> <span class="list_attr_title2">외 2명</span> <span class="list_attr_time"> 5.09  13:23 </span>
										</div>
										<div class="list_attr_text">
											<span class="list_attr_text1">햇살 머금은 맛 그대로 에스젠 클럽 헷살 머금은 맛 그대로 에스젠 클럽 햇살 머금은 맛 그대로 에스젠 클럽 헷살 머금은 맛 그대로 에스젠 클럽 햇살 머금은 맛 그대로 에스젠 클럽 헷살 머금은 맛 그대로 에스젠 클럽</span>
										</div>
										<div class="list_attr_time">
										</div>
									</div>
								</div>
							</div>
						</div>
						<div id="mail_right">
				
				
						</div>
					</div>
				</div>
		</div>
		
			<!--
<div id="timeline2">
	<div class="wrap">

	</div>
</div>
<div id="timeline" style="background:#fff; ">
	<div class="wrap">
		<div class="calendar" style="padding: 5px;">

			<div>
			</div>
		</div>
	</div>
	<script>
	$( document ).ready( function(){	
		
	});
	</script> -->
	<script>
		$( document ).ready( function(){	
			$('#search_text').selectize({
			    delimiter: ',',
			    persist: false,
			    create: function(input) {
			        return {
			            value: input,
			            text: input
			        }
			    }
			});
		});
	</script>
	</body>
</html>