<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
	<head>
		<title>Band title</title>
		<link rel="stylesheet" href="./common.css"></link>
		<link rel="stylesheet" href="./NotoSansKR-Regular/styles.css"></link>
		<script type="text/javascript" src="./js/jquery-1.9.1.min.js"></script>	
		<script type="text/javascript" src="./js/sgen.js"></script>	


		<link href="css/jquery-ui.css" rel="stylesheet" />
        <link href="css/jquery.ui.theme.css" rel="stylesheet" />

        <link href="css/timelineScheduler.css" rel="stylesheet" />
        <link href="css/timelineScheduler.styling.css" rel="stylesheet" />
        <link href="css/calendar.css" rel="stylesheet" />

        <script src="js/moment.min.js"></script>
        
        <script src="js/jquery-ui-1.10.2.min.js"></script>
    
        <script src="js/timelineScheduler.js"></script>
        <script src="js/calendar.js"></script>
	</head>
	<body   style="background:#e0e0e0;">
		<div id="wrapper">
			<div id="header">
				<div id="title_line">
					<div id="title_home" class="title_btns">
						<a href="/home"> HOME </a>
					</div>
					<div id="title_mail" class="title_btns">
						<a href="/mail"> MAIL </a>
					</div>
					<div id="title_calender" class="title_btns">
						<a href="/calender"> CALENDER </a>
					</div>
					<div id="title_me" class="title_btns">
						<a href="/#"> ME </a>
					</div>
					<div id="title_setting" class="title_btns">
						<a href="/#"> SETTING </a>
					</div>
				</div>
			</div>

			<div id="container" style="text-align:center;">
				<div id="round_icons">
					<div id="round_icons_left">
						<div class="round_img left-margin">
							<input type='image' src='./images/cirBtn_box.png' class='round_icons_img'/>
						</div>
						<div class="round_img">
							<input type='image' src='./images/cirBtn_person.png' class='round_icons_img'/>
						</div>
						<div class="round_img">
							<input type='image' src='./images/cirBtn_people.png' class='round_icons_img'/>
						</div>
					</div>
				</div>

<!-- make mailview ay -->
				<div id="mail_box">
					<div id ="mail_find">
						<div id ="mail_find_bg">
						<form>
							<input id="search_text" type="text" placeholder="검색어를 입력하세요" size="92px" class="serach_bar"></input>
							<input type="image" src="./images/searchBtn.png" class="search_image" ></input>
						</form>
						</div>
					</div>

					<!-- mail boxes -->
					<div id="mail_view">
						<div id="mail_left">
							<div id="mail_left_btns">
								<a href="/mailView">
									<input type="image" src="./images/writeBtn.png" id="writeBtn_image" ></input>
								</a>
								<a href="/mailView">
									<input type="image" src="./images/reBtn.png" id="reBtn_image" ></input>
								</a>
							</div>
							<div id="mail_left_menu"> 
								<div class="receive_mail_btn_c">
									<a href="/mailView"> 받은 편지함 (<span class="receive_main_cnt"> 662 </span>) </a>
									<span class="receive_main_list"> 1 - 3 </span>
											<input type="image" src="./images/mailNextL.png" id="mailNextL_image" ></input>
											<input type="image" src="./images/mailNextR.png" id="mailNextR_image" ></input>
								</div>
							</div>
							<div class="mail_left_content_list">
								<div id="mail_left_content">
									<div class="mail_left_list_attr_overlay">
										<div class="list_attr_img">
											<div class="list_attr_img_r">
												<span class="list_attr_img_txt">32</span>
											</div>
										</div>
										<div class="list_attr_title">
											<span class="list_attr_title1">윤석호, 김도윤, 김동억, 백종수</span> <span class="list_attr_title2">외 2명</span> <span class="list_attr_time"> 5.09 13:23 </span>
										</div>
										<div class="list_attr_text">
											<span class="list_attr_text1">햇살 머금은 맛 그대로 에스젠 클럽 헷살 머금은 맛 그대로 에스젠 클럽 </span>
										</div>
										<div class="list_attr_time">
										</div>
									</div>
								</div>
								<div id="mail_left_content">
									<div class="mail_left_list_attr">
										<div class="list_attr_img">
											<div class="list_attr_img_b">
												<span class="list_attr_img_txt">82</span>
											</div>
										</div>
										<div class="list_attr_title">
											<span class="list_attr_title1">이아, 김도윤, 김동억, 백종수</span> <span class="list_attr_title2">외 2명</span> <span class="list_attr_time"> 5.09 13:23 </span>
										</div>
										<div class="list_attr_text">
											<span class="list_attr_text1">햇살 머금은 맛 그대로 에스젠 클럽 헷살 머금은 맛 그대로 에스젠 클럽 </span>
										</div>
										<div class="list_attr_time">
										</div>
									</div>
								</div>
								<div id="mail_left_content">
									<div class="mail_left_list_attr">
										<div class="list_attr_img">
											<div class="list_attr_img_g">
												<span class="list_attr_img_txt">109</span>
											</div>
										</div>
										<div class="list_attr_title">
											<span class="list_attr_title1">이아영, 김도윤, 김동억, 백종수</span> <span class="list_attr_title2">외 2명</span> <span class="list_attr_time"> 5.09  13:23 </span>
										</div>
										<div class="list_attr_text">
											<span class="list_attr_text1">햇살 머금은 맛 그대로 에스젠 클럽 헷살 머금은 맛 그대로 에스젠 클럽 햇살 머금은 맛 그대로 에스젠 클럽 헷살 머금은 맛 그대로 에스젠 클럽 햇살 머금은 맛 그대로 에스젠 클럽 헷살 머금은 맛 그대로 에스젠 클럽</span>
										</div>
										<div class="list_attr_time">
										</div>
									</div>
								</div>
							</div>
						</div>
						<div id="mail_right">
							<div id="mail_right_top">
								<img src="./images/right_clip.png" id="right_clip_image"/>
								<span class="right_clip_text"> 5월16일 토요일 23:54 </span>
								<from>
									<input type="image" src="./images/right_star.png" class="right_star_image"></input>
								</from>
								<from>
									<input type="image" src="./images/right_like.png" class="right_like_image"></input>
								</from>
								<from>
									<input type="image" src="./images/right_left.png" class="right_left_image"></input>
								</from>
							</div>
							<div id="mail_right_content">
								<div id="mail_right_content_top">
									<div class="right_top_title">
										<span class="right_top_title_text">sGen club 4번째 프로젝트 [i office]</span>
									</div>
									<div class="right_top_people">
										<img src="./images/people/people1.png" class="right_top_people_img" />
										<span class="right_top_sender">윤석호 seukho.yoon@naver.com</span>
										<span class="right_top_receiver">윤정훈, 이아영, 김동억, 백종수, 최평강 에게</span>
									</div>
								</div>
								<hr class="mailview_hr">
								<div id="mail_right_content_middle">
									<div class="right_middle_text">
										D3의 설계결함으로 보이지만, 이는 의도된 동작이다. <br>
										각기 다른 뷰를 실행하는 여러 버튼이 있고 사용자가 이 버튼들을 연속해서 재빨리 눌렀다고 가정하자. 먼저 선택한<br>
										트랜지션이 아닌 마지막으로 선택한 트랜지션이 동작하는 게 옳은 동작 방식이다. <br><br>
										제이쿼리에 익숙한 개발자라면, 여기서 차이점을 느끼게 된다. 기본적으로 제이쿼리는 트랜젝션을 큐에 쌓는다.<Br>
										그래서 트랜지션은 차례대로 실행되고, 실행 중엔 신규 트랜지션이 임의로 끼어들지 않는다. <br>
										트랜지션이 아닌 마지막으로 선택한 트랜지션이 동작하는 게 옳은 동작 방식이다. <br><br>
										제이쿼리에 익숙한 개발자라면, 여기서 차이점을 느끼게 된다. 기본적으로 제이쿼리는 트랜젝션을 큐에 쌓는다.<Br>
										그래서 트랜지션은 차례대로 실행되고, 실행 중엔 신규 트랜지션이 임의로 끼어들지 않는다. <br>

										<div class="right_middle_files">
											<div class="right_middle_file">
												<div class="right_file_img">
													<form>
														<input type="image" class="right_file_img_btn" src="./images/file_download.png"/>
													</form>
												</div>
												<div class="right_file_text">
													<span class="right_file_text_value">업무_분담표.PDF</span>
												</div>
												<div class="right_file_size">
													<span class="right_file_size_value">3.45M</span>
												</div>
											</div>
											<div class="right_middle_file">
												<div class="right_file_img">
													<form>
														<input type="image" class="right_file_img_btn" src="./images/file_download.png"/>
													</form>
												</div>
												<div class="right_file_text">
													<span class="right_file_text_value">업무_분담표_2.PDF</span>
												</div>
												<div class="right_file_size">
													<span class="right_file_size_value">7.89M</span>
												</div>
												<!-- 하단 답장 보내는 부분... -->
												<div id="mail_right_content_bottom">
													<hr class="mailview_hr2">
													<img src="./images/people/people1.png" class="right_top_people_img_2" />
													<div class="mail_right_reply_box">
														<textarea class="reply_box_tt" rows=8 cols=88 placeholder=" 답장하실려면 클릭하세요 "></textarea>
														<from>
															<input type="image" class="reply_img_btn" src="./images/reply_sendBtn.png">
														</from>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>


			</div>
<div id="timeline2">
	<div class="wrap">

	</div>
</div>
<div id="timeline" style="background:#fff; ">
	<div class="wrap">
		<div class="calendar" style="padding: 5px;">

			<div>
			</div>
		</div>
	</div>
	<script>
	$( document ).ready( function(){	
		
	});
	</script>
	</body>
</html>