<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
	<title>Band title</title>
	<link rel="stylesheet" href="./common.css"></link>
	<link rel="stylesheet" href="./NotoSansKR-Regular/styles.css"></link>
	<script type="text/javascript" src="./js/jquery-1.9.1.min.js"></script>	
	<script type="text/javascript" src="./js/sgen.js"></script>	


	<link href="css/jquery-ui.css" rel="stylesheet" />
	<link href="css/jquery.ui.theme.css" rel="stylesheet" />

	<link href="css/timelineScheduler.css" rel="stylesheet" />
	<link href="css/timelineScheduler.styling.css" rel="stylesheet" />
	<link href="css/calendar.css" rel="stylesheet" />

	<script src="js/moment.min.js"></script>

	<script src="js/jquery-ui-1.10.2.min.js"></script>

	<script src="js/timelineScheduler.js"></script>
	<script src="js/calendar.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"> </script>

	
	
</head>
<body   style="background:#e0e0e0;">
	<div id="wrapper">
		<div id="header">
			<div id="title_line">
				<div id="title_home" class="title_btns">
					<a href="/title"> HOME </a>
				</div>
				<div id="title_mail" class="title_btns">
					<a href="/mail"> MAIL </a>
				</div>
				<div id="title_calender" class="title_btns">
					<a href="/calender"> CALENDER </a>
				</div>
				<div id="title_me" class="title_btns">
					ME
				</div>
				<div id="title_setting" class="title_btns">
					SETTING
				</div>
			</div>
		</div>

		<div id="container" style="text-align:center;">
			<div id="around"></div>

			<script>

	var width = 600,
	height = 600,
	radius = Math.min(width, height);

	var radii = {
		"user" : radius / 12,
		"orbit_big" : radius / 2.5,
		"orbit_small" : radius / 4,
		"cw_tall" : radius / 25,
		"cw_grande" : radius / 20,
		"cw_venti" : radius / 15
	};

	var jsonCircles = [
	{
		"name" : "Donguk",
		"priority" : 1,
		"alert_num" : 4,
		"color" : "orange",
		"link" : "http://www.daum.net",
		"img_link" : "/test1.png"
		
	},
	{
		"name" : "Lina",
		"priority" : 1,
		"alert_num" : 3,
		"color" : "yellow",
		"link" : "http://www.naver.com",
		"img_link" : "/test2.png"

		
	},
	{
		"name" : "Penguin",
		"priority" : 1,
		"alert_num" : 4,
		"color" : "red",
		"link" : "http://www.google.com",
		"img_link" : "/test3.jpg"

	},
	{
		"name" : "Donguk",
		"priority" : 2,
		"alert_num" : 4,
		"color" : "orange",
		"link" : "http://en.wikipedia.org/",
		"img_link" : "/test1.png"
		
	},
	{
		"name" : "Donguk",
		"priority" : 2,
		"alert_num" : 4,
		"color" : "orange",
		"link" : "http://www.babbel.com",
		"img_link" : "/test1.png"
		
	},{
		"name" : "Donguk",
		"priority" : 2,
		"alert_num" : 4,
		"color" : "orange",
		"link" : "http://www.cgv.co.kr",
		"img_link" : "/test1.png"
		
	},{
		"name" : "Donguk",
		"priority" : 2,
		"alert_num" : 4,
		"color" : "orange",
		"link" : "http://www.facebook.com",
		"img_link" : "/test1.png"
		
	}
	];

	var user_info = [{
		"name" : "JH",
		"link" : "http://www.nate.com",
		"img_link" : "/test4.png"
	}];


	var around = d3.select("#around");
	var svg_around = around.append("svg")
	.attr("width", width)
	.attr("height", height)
	.append("g")
	.attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");


	// small orbit
	svg_around.append("circle")
	.attr("class", "smallOrbit")
	.attr("r", radii.orbit_small)
	.style("fill", "none")
	.style("stroke","gray");


	// big orbit
	svg_around.append("circle")
	.attr("class", "bigOrbit")
	.attr("r", radii.orbit_big)
	.style("fill", "none")
	.style("stroke","gray");


	// user circle

	var defs_user = svg_around.selectAll(".user_img")
	.data(user_info)
	.enter()
	.append("defs")
	.attr("id", "defs_u")
	.append("pattern")
	.attr("id", "catpattern_user")
	.attr("height", 64)
	.attr("width", 64)
	.attr("x", 0)
	.attr("y", 0)
	.append("image")
	.attr("x",  -50)
	.attr("y",  -50)
	.attr("height",200)
	.attr("width", 200)
	.attr("xlink:href", function (d){
		return d.img_link;
	});

	var user_circle = svg_around.selectAll(".user_circle")
	.data(user_info)
	.enter()
	.append("a")
	.attr("xlink:href", function(d) { return d.link; })
	.append("circle")
	.attr("r",radii.user)
	.attr("stroke", "black")
	.style("fill", "url(#catpattern_user)");
	



	var grandeOrbitPosition = d3.svg.arc()
	.outerRadius(radii.orbit_small + 1)
	.innerRadius(radii.orbit_small - 1)
	.startAngle(0)
	.endAngle(0);
	
	svg_around.append("path")
	.attr("class", "grandeOrbitPosition")
	.attr("d", grandeOrbitPosition)
	.style("fill", "rgba(255, 204, 0, 0.75)");



	// coworker's circles
	var cw_circles = svg_around.selectAll(".co_workers")
	.data(jsonCircles)
	.enter()
	.append("a")
	.attr("xlink:href", function(d) { return d.link; })
	.append("circle");

	var defs = svg_around.selectAll(".cw_imgs")
	.data(jsonCircles)
	.enter()
	.append("defs")
	.attr("id", function (d,i) {
		return "defs_" + i;
	})
	.append("pattern")
	.attr("id", function (d,i) {
		return "catpatterns_" + i;
	})
	.attr("height", 64)
	.attr("width", 64)
	.attr("x", 0)
	.attr("y", 0)
	.append("image")
	.attr("x",  -50)
	.attr("y",  -50)
	.attr("height",200)
	.attr("width", 200)
	.attr("xlink:href", function (d){
		return d.img_link;
	});




	var default_small = [0,1,2,3,4,5,6,7]; 
	var default_big = [0,0.5,1,1.5,2,2.5,3,3.5,4,4.5,5,5.5,6,6.5,7];

	var pos_small = [];
	var pos_big = [];


	for(var k=0; k< jsonCircles.length; k++){
		var temp_small = Math.floor(Math.random() * (default_small.length));
		var temp_big =  Math.floor(Math.random() * (default_big.length));

		pos_small.push(default_small[temp_small]);
		pos_big.push(default_big[temp_big]);

		default_small.splice(temp_small,1);
		default_big.splice(temp_big,1);

		console.log(pos_big);
	}



	var circlesAttribute = cw_circles	
	.attr("r", function(d){
		return (d.priority == 1 ? radii.cw_grande : radii.cw_tall);
	})
	.attr("cx", function (d,i) { 
		if(d.priority == 1){
			return radii.orbit_small*Math.cos(pos_small[i]*45/180*3.1415926);}
			else{
				return radii.orbit_big*Math.cos(pos_big[i]*45/180*3.1415926);}
				;})
	.attr("cy", function (d,i) { 
		if(d.priority == 1){
			return radii.orbit_small*Math.sin(pos_small[i]*45/180*3.1415926);}
			else {
				return radii.orbit_big*Math.sin(pos_big[i]*45/180*3.1415926);}
				;})
	.style("fill", function (d,i) {
		return "url(#catpatterns_" + i + ")";
	})
	.style("stroke", "black")
	.on("mouseover", nodeOver)
	.on("mouseout", nodeOut);



	function nodeOver(){
		d3.select(this).attr("r", function(d){
			if(d.priority == 1)
				return radii.cw_grande + 15;
			else
				return radii.cw_tall + 12;
		})
	}

	function nodeOut(){
		d3.select(this).attr("r", function(d){
			if(d.priority == 1)
				return radii.cw_grande;
			else
				return radii.cw_tall;
		})
	}

	</script>


		</div>
		<div id="timeline2">
			<div class="wrap">

			</div>
		</div>
		<div id="timeline" style="background:#fff; ">
			<div class="wrap">
				<div class="calendar" style="padding: 5px;">

					<div>
					</div>
				</div>
			</div>
			<script>
			$( document ).ready( function(){	
				
			});
			</script>
		</body>
		</html>