body, h1, h2, h3, h4, h5, h6, p, a, ul {
	margin: 0;
	font-family: 'NotoSansKR-Regular-Alphabetic', 'Nanum Gothic', sans-serif;
	padding: 0;
}
div {
	color: #727272;
	letter-spacing:-0.25px;
}
a {
	text-decoration:none; 
	color:#727272;
	outline: 0px;
}
.title_btns>a {
	color: #ffffff;
}
a img {
	border: 0px;
}
ul, ol{
	list-style:none;
}
li {
	display: inline;
}

/*#header*/
#container, #footer {
	position: relative;
	width: 1200px;
	margin: 0 auto;
}

#timeline2 .wrap {
	display: table;
	position: relative;
	margin:  0 auto;
	width: 1000px;
	height: 25px;
}
#timeline  .wrap{
	display: table;
	position: relative;
	margin:  0 auto;
	height:51px;
	width: 1000px;
}

#timeline .date {
	display: table-cell;
	vertical-align: middle;
	color: #008ed6;
	margin-left: 10px;
}

#header {
	height:44px;
}

#title_line {
	height: 44px;
	text-align: center;
	background-color: #0098d8;
	font-size: 18px;
	color: #ffffff;
}
.title_btns {
	width: 150px;
	text-align: center;
	background-color: #0098d8;
	font-size: 14px;
	color: #ffffff;
	padding:11px 0px 8px 0px;
}
#title_home {
	float: left;
    margin-left: 190px;	
}
#title_mail {
	float: left;
}
#title_calender {
	float: left;
}
#title_me {
	float: right;
	margin-right: 190px;
}
#title_setting {
	float: right;
}
#text_hello {
	margin: 90px 0px 30px 0px;
	font-size: 20px;
}
#main_box {
	border-color: blue;
}
#img_box {
	margin-top: 10px;
}
#text_box {
	margin-top: 60px;
}
.focus {
	outline-color: #0098d8;
}
.input_box {
	padding:13px 0px 13px 0px;
	width: 300px;
	font-size: 15px;
	text-indent: 12px;
	border-radius: 5px;
	border:1px solid #0098d8;
	border-left: 4px solid #0098d8;
}
#text_pwd {
	margin-top: 30px;
}
#btn_login {
	margin:0 auto;
	margin-top: 70px;
	text-align: center;
	width: 300px;
	padding:13px 0px 13px 0px;
	border-radius: 7px;
	background-color: #008ed6;
}
#login_text {
	color: #ffffff;
}
#btn_join {
	margin-top: 25px;
}
#join_text {
	color: #008ed6;
}

/* mail */
#round_icons {
	height: 84px;
	background-color: #ededed;
	border-bottom: 1px solid #d0d0d0;
}
#round_icons_left {
	width: 300px;
	position: absolute;
    margin-top: 16px;
	border-right: 1px solid  #bdbdbd
}
#round_icons_left .round_img{
	position: relative;
	float: left;
	margin-right: 23px;
}

#round_icons_left .left-margin {
	margin-left: 50px;
}
.round_icons_img {
	size: 100px;
}

.round_icons_img:hover {
	margin: -2px;
    border: 2px solid #0098d8;
    border-radius: 26px;
}
#round_icons_right {
	position: absolute;
}
.icons_img_r {
	position: relative; 
	margin-right: 10px;
	background-color: #E45064;
	width: 49px;
	height: 49px;
	-webkit-border-radius: 100px;
}
.icons_img_txt {
	text-align: center;
    display: block;
    float: left;
    height: 100%;
    margin: 0 auto;
    margin-top: 12px;
    color: #ffffff;
    font-size: 13px;
}




/* mail view ay */
#mail_box {
	background-color: #ededed;
    width: 1200px;
    height: 525px;
}
#mail_find {
	padding-top: 10px;
	height:45px;
}
#mail_find_bg {
	margin-left: 10px;
	margin-right: 10px;
	text-align: left;
	height: 40px;
	background: #ffffff;
}
.search_image{
	margin:13px 16px 10px 10px;
    float: right;
}
.round_icons_img {
	height: 49px;
}
#mail_view{

}

/*left*/
#mail_left{
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	text-align: left;
	position: absolute;
	left: 0%;
	height: 450px;
	width: 400px;
	background: #ffffff;
}
#mail_left_btns{
    margin-top: 5px;
}
.receive_mail_btn_c {
	color: #808080;
	font-size: 15px;
	margin-top: 12px;
	margin-left: 10px;
	padding-bottom: 20px;
}
.receive_main_cnt {

}
.receive_main_list {
	margin-left: 160px;
    font-size: 12px;
    color: #000000;
}
#mailNextL_image {
    position: absolute;
    margin-left: 18px;
    margin-top: 3px;
}
#mailNextR_image {
    position: absolute;
    margin-left: 37px;
    margin-top: 3px;
}
#writeBtn_image{
    /*position: absolute;*/
    left: 0%;
    margin-top: 10px;
    margin-left: 20px;
    width: 260px;
}
#reBtn_image{
    position: absolute;
    left: 326px;
    margin-top: 16px;
    margin-left: 10px;
}

#writeBtn_image {
    width: 273px;
    height: 42px;
    margin: 8px 11px 0px 30px;
}
#mail_left_menu {
    margin-top: 10px;
    margin-left: 10px;
    position: absolute;
    width: 400px;
}
/*스크롤이 들어가는 부분 attr의 list*/
.mail_left_content_list {
    position: absolute;
    margin-top: 60px;
    width: 400px;
}
.mail_left_list_attr {
	height: 100px; 
	padding-left: 10px;
	background-color: #ffffff;
	border-left: 4px solid #ffffff;
	border-top: 1px solid #dddddd;
}
.mail_left_list_attr_overlay {
	height: 100px; 
	padding-left: 10px;
	background-color: #DFEEF6;
	border-top: 1px solid #dddddd;
	border-left: 4px solid #3085CE;
}
.list_attr_img {
	padding-left: 5px;
}
.list_attr_img_r {
	position: absolute; 
	margin-top: 15px;
	background-color: #E45064;
	width: 37px;
	height: 37px;
	-webkit-border-radius: 100px;
}
.list_attr_img_b {
	position: absolute; 
	margin-top: 15px;
	background-color: #3085ce;
	width: 37px;
	height: 37px;
	border-radius: 100px;
}
.list_attr_img_g {
	position: absolute; 
	margin-top: 15px;
	background-color: #7eba19;
	width: 37px;
	height: 37px;
	border-radius: 100px;
}
.list_attr_img_txt {
	text-align: center;
    display: block;
    height: 100%;
    margin: 0 auto;
    margin-top: 12px;
    color: #ffffff;
}
.list_attr_title {
	margin-top: 22px;
    margin-left: 55px;	
}

.list_attr_title1 {
	position: relative;
	float: left;
    font-size: 12px;
    font-weight: bold;
    color: #000000;
}
.list_attr_title2 {
	position: relative;
	float:left;
	margin-left: 3px;
    color: #2B6DFA;
    font-weight: bold;
    font-size: 12px;
}
.list_attr_time {
	position: relative;
	float: right;
	margin-right: 20px;
}

.list_attr_text {
	margin-top: 53px;
    margin-left: 55px;
    width: 307px;
}
.list_attr_text1 {
	position: relative;

	font-size: 12px;
}

/*right*/
#mail_right{
	margin-top: 10px;
	margin-left: 105px;
	margin-right: 10px;
	position: absolute;
	left: 320px;
	height: 450px;
	width: 765px;
	background: #ffffff;
	overflow-y: scroll;
	overflow-x: hidden;
}
#mail_right_top {
	position: absolute;
	margin-top: 22px;
    margin-left: 18px;
}
#right_clip_image{
    width: 28px;
    height: 28px;
    position: absolute;
}
.right_clip_text{
    position: absolute;
    width: 200px;
    text-align: left;
    margin-left: 31px;
    margin-top: 7px;
    font-size: 14px;
    font-weight: 100;
}
.right_star_image {
    position: absolute;
    width: 22px;
    height: 21px;
    margin-top: 1px;
    margin-left: 625px;
}
.right_like_image {
    position: absolute;
    width: 21px;
    height: 21px;
    margin-top: 2px;
    margin-left: 594px;
}
.right_left_image {
    position: absolute;
    width: 50px;
    height: 27px;
    margin-top: 0px;
    margin-left: 670px;
}
#mail_right_content_top {
	position: absolute;
}
.right_top_title{
	position: absolute;
}
.right_top_title_text {
    position: absolute;
    width: 400px;
    font-size: 21px;
    margin-top: 60px;
    margin-left: -28px;
    color: #000000;
}
.right_top_people {
	position: absolute;
}
.right_top_people_img {
    position: absolute;
    width: 33px;
    border-radius: 150px;
    border: 2px solid #ededed;
    margin-top: 105px;
    margin-left: 22px;
}
.right_top_sender {
    position: absolute;
    width: 300px;
    margin-top: 105px;
    margin-left: 27px;
    font-size: 14px;
    font-weight: 600;
}
.right_top_receiver{
    position: absolute;
    width: 300px;
    margin-top: 125px;
    margin-left: 34px;
    font-size: 13px;
    font-weight: 200;
}
#mail_right_content_middle {
	position: absolute;
	margin-top: 15px;
}
.mailview_hr {
	position: absolute;
	border: 1px solid #e0e0e0;
	margin-top: 170px;
	margin-left: 4px;
	width: 758px;
}
/*메일 내용*/
.right_middle_text{
	position: absolute;
    margin-top: 190px;
    margin-left: 45px;
    width: 700px;
    text-align: left;
    font-size: 14px;
    letter-spacing: 0.5px;
	font-weight: 100;
}
/*첨부파일*/
.right_middle_files {
    position: absolute;
    margin-top: 30px;
    margin-left: -1px;
}
.right_middle_file {
    border: 1px solid #cfcfcf;
    width: 300px;
    height: 25px;
    border-radius: 7px;
}
.right_file_img {
	position: absolute;
}
.right_file_img_btn {
	position: absolute;
	margin-top: 2px;
	margin-left: 8px;
	width: 20px;
	height: 20px;
}
.right_file_text {
	position: absolute;
}
.right_file_text_value {
	position: absolute;
    font-size: 13px;
    margin-top: 5px;
    margin-left: 33px;
    width: 200px;
    letter-spacing: 0.5px;
}
.right_file_size {
	position: absolute;
}
.right_file_size_value {
	position: absolute;
	margin-top: 4px;
    margin-left: 250px;
    font-size: 14px;
    width: 50px;
    letter-spacing: 0.5px;
}
#mail_right_content_bottom {
	position: absolute;
}
.mailview_hr2 {
	position: absolute;
	border: 1px solid #e0e0e0;
	margin-top: 60px;
	margin-left: -41px;
	width: 758px;
}
.right_top_people_img_2 {
	position: absolute;
	margin-top: 95px;
    margin-left: -22px;
    width: 33px;
    border-radius: 150px;
    border: 2px solid #ededed;
}
.mail_right_reply_box {
	position: absolute;
}
.reply_box_tt {
	position: relative;
    border-radius: 5px;
    border: 1px solid #dedede;
    font-size: 13px;
    color: #7e7e7e;
    margin-top: 98px;
    margin-left: 40px;
}
.reply_img_btn {
    position: relative;
    margin-top: 10px;
    margin-left: 621px;
    margin-bottom: 20px;
    width: 55px;
}
#search_text {
	color: #bcbcbc;
    border: 0px;
    font-size: 13px;
    text-indent: 12px;
    float: left;
    padding: 12px;
}
#search_text:focus{
    outline: 0;
