#send_img_btn {
    /*position: relative;*/
    margin-top: 20px;
    margin-left: 15px;
    margin-bottom: 20px;
    width: 55px;
 }
.mailwrite_hr {
    position: relative;
    border: 1px solid #e0e0e0;
    margin-top: 5px;
    margin-left: 4px;
    width: 758px;
}
#sender_boxes {

}
#sender_box_input_1 {

}
