body, h1, h2, h3, h4, h5, h6, p, a, ul {
	margin: 0;
	font-family: 'NotoSansKR-Regular-Alphabetic', 'Nanum Gothic', sans-serif;
	padding: 0;
}
div {
	color: #727272;
	letter-spacing:-0.25px;
}
a {
	text-decoration:none; 
	color:#727272;
	outline: 0px;
}
.title_btns>a {
	color: #ffffff;
}
a img {
	border:0px;
}
ul, ol{
	list-style:none;
}
li {
	display: inline;
}

/*#header*/
#container, #footer {
	position: relative;
	width: 1200px;
	margin: 0 auto;
}

#timeline2 .wrap {
	display: table;
	position: relative;
	margin:  0 auto;
	width: 1000px;
	height: 45px;
}
#timeline  .wrap{
	display: table;
	position: relative;
	margin:  0 auto;
	height:51px;
	width: 1000px;
}

#timeline .date {
	display: table-cell;
	vertical-align: middle;
	color: #008ed6;
	margin-left: 10px;
}

#header {
	height:64px;
}

#title_line {
	height: 64px;
	text-align: center;
	background-color: #0098d8;
	font-size: 18px;
	color: #ffffff;
}
.title_btns {
	width: 150px;
	text-align: center;
	background-color: #0098d8;
	font-size: 18px;
	color: #ffffff;
	padding: 17px 0px 17px 0px;
}
#title_home {
	float: left;
}
#title_mail {
	float: left;
}
#title_calender {
	float: left;
}
#title_me {
	float: right;
}
#title_setting {
	float: right;
}
#text_hello {
	margin: 90px 0px 30px 0px;
	font-size: 20px;
}
#main_box {
	border-color: blue;
}
#img_box {
	margin-top: 10px;
}
#text_box {
	margin-top: 60px;
}
.focus {
	outline-color: #0098d8;
}
.input_box {
	padding:13px 0px 13px 0px;
	width: 300px;
	font-size: 15px;
	text-indent: 12px;
	border-radius: 5px;
	border:1px solid #0098d8;
	border-left: 4px solid #0098d8;
}
#text_pwd {
	margin-top: 30px;
}
#btn_login {
	margin:0 auto;
	margin-top: 70px;
	text-align: center;
	width: 300px;
	padding:13px 0px 13px 0px;
	border-radius: 7px;
	background-color: #008ed6;
}
#login_text {
	color: #ffffff;
}
#btn_join {
	margin-top: 25px;
}
#join_text {
	color: #008ed6;
}

/* mail */
#round_icons {
	height: 100px;
	background-color: #d3cec4;
}
#round_icons_left {
	width: 300px;
	background-color: #c4c1ba;
}
#round_icons_right {

}









/* mail view ay */
#mail_box {
	background-color: #c4c1ba;
	width: 1200px;
	height: 700px;
}
#mail_find {
	padding-top: 10px;
	height:45px;
}
#mail_find_bg {
	margin-left: 10px;
	margin-right: 10px;
	text-align: left;
	height: 40px;
	background: #ffffff;
}
#search_image{
	left: 37px;
	right: 37px;
}
input[type=text]{
	color:#bcbcbc;
	height: 20px;
	border: 0px;
	font-size: 16px;
}
#mail_view{

}

/*left*/
#mail_left{
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	text-align: left;
	position: absolute;
	left: 0%;
	height: 550px;
	width: 400px;
	background: #ffffff;
}
#mail_left_btns{
    margin-top: 5px;
}
.receive_mail_btn_c {
	color: #808080;
	font-size: 15px;
	margin-top: 12px;
	margin-left: 10px;
	padding-bottom: 20px;
}
.receive_main_cnt {

}
.receive_main_list {
	margin-left: 160px;
    font-size: 12px;
    color: #000000;
}
#mailNextL_image {
    position: absolute;
    margin-left: 18px;
    margin-top: 3px;
}
#mailNextR_image {
    position: absolute;
    margin-left: 37px;
    margin-top: 3px;
}
#writeBtn_image{
    /*position: absolute;*/
    left: 0%;
    margin-top: 10px;
    margin-left: 20px;
    width: 260px;
}
#reBtn_image{
    position: absolute;
    left: 340px;
    margin-top: 16px;
    margin-left: 10px;
}
#mail_left_menu {
    margin-top: 10px;
    margin-left: 10px;
    position: absolute;
    width: 400px;
}
/*스크롤이 들어가는 부분 attr의 list*/
.mail_left_content_list {
    position: absolute;
    margin-top: 60px;
    width: 400px;
}
.mail_left_list_attr {
	height: 100px; 
	padding-left: 10px;
	background-color: #ffffff;
	border-left: 4px solid #ffffff;
}
.mail_left_list_attr_overlay {
	height: 100px; 
	padding-left: 10px;
	background-color: #DFEEF6;
	border-left: 4px solid #3085CE;
}
.list_attr_img {
	padding-left: 5px;
}
.list_attr_img_r {
	position: absolute; 
	margin-top: 15px;
	background-color: #E45064;
	width: 37px;
	height: 37px;
	-webkit-border-radius: 100px;
}
.list_attr_img_b {
	position: absolute; 
	margin-top: 15px;
	background-color: #3085ce;
	width: 37px;
	height: 37px;
	-webkit-border-radius: 100px;
}
.list_attr_img_g {
	position: absolute; 
	margin-top: 15px;
	background-color: #7eba19;
	width: 37px;
	height: 37px;
	-webkit-border-radius: 100px;
}
.list_attr_img_txt {
	text-align: center;
    display: block;
    height: 100%;
    margin: 0 auto;
    margin-top: 12px;
    color: #ffffff;
}
.list_attr_title1 {
	position: absolute;
    margin-top: 12px;
    margin-left: 55px;
    font-size: 12px;
    font-weight: bold;
    color: #000000;
}
.list_attr_title2 {
	position: absolute;
    color: #2B6DFA;
    font-weight: bold;
    font-size: 12px;
    margin-top: 12px;
    margin-left: 200px;
}
.list_attr_time {
	position: absolute;
    margin-top: 12px;
    margin-left: 315px;
}
.list_attr_text1 {
	position: absolute;
    margin-top: 32px;
    margin-left: 55px;
    margin-right: 20px;
}

/*right*/
#mail_right{
	margin-top: 10px;
	margin-left: 105px;
	margin-right: 10px;
	position: absolute;
	left: 320px;
	height: 550px;
	width: 765px;
	background: #ffffff;
}
#mail_right_top {

}
#right_clip_image{

}






